/*bootstrap-ovverrides */
#bts-override .border-radius-2em {
    border-radius: 2em !important;
}

#bts-override .border-bottom-2em {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

}

#bts-override .navbar-brand {
    position: relative;
    bottom: 5px;
}

#bts-override td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.body-margin {
    margin-top: 75px;
}

.no-line-height {
    line-height: 0 !important;
    position: relative !important;
    top: 0.4rem !important;
}

#positionModal .modal-body {
    box-sizing: border-box;
    max-height: 100px;
!important;
    min-height: 100px;
!important;
}

.tooltip-inner {
    background-color: #27C0E8;
    color: black;
    bodrer: 1px solid black;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #27C0E8 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #27C0E8 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #27C0E8 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #27C0E8 !important;
}

#bts-override .width10em {
    width: 10em;
}

#bts-override .alert-light {
    border: 1px solid #4e555b;
}

#bts-override .white-bg {
    background-color: #FFFFFF;
}

#bts-override .sidebar-width {
    padding: 0;
    min-width: 120px;
    max-width: 120px;
}

#bts-override .p-l-14 {
    padding-left: 14px;
}

/* MODALS OVERRIDE */
.modal-content {
    border-radius: 16px;
}

.rcp-button {
    margin-left: 1.5em;
    border: 1px solid #e8e8e8;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 450px;
    text-align: left;
}

.rcp-button:hover {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px 2px #e8e8e8;
}

/* CUSTOM CSS CLASSES */
#sidebar {
    position: fixed;
    margin-top: 57px;
    padding-left: 0;
    padding-right: 0;
    min-width: 100px;
    max-width: 100px;
    min-height: 100%;
    max-height: 100%;
    background-color: #4b4d52;
}

#sidebar a {
    color: #e8e8e8;
    text-decoration: none;
}

#sidebar li:hover {
    background-color: #3d3f43;
}


#vert-nav.col-1 {
    padding: 0px;
}

#user-table-container {
    position: relative;
}

.user-table-scroller {
    margin-left: 141px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 100%;
}

#user-table-container .table {
    border-collapse: separate;
    border-spacing: 0 6px;

}

#user-table-container .table-bordered {
    border: none;
}

.head-margin-column {
    width: 1.1em;
    border-color: #e8e8e8;
}

.users-table-head th:nth-child(2) {
    border-left-color: #e8e8e8;
}

.users-table-head th:last-child {
    border-left-color: #e8e8e8;
}

.users-table-body .m-l-2 {
    border-left: 2px solid #dee2e6;
}

.users-table-body .m-r-2 {
    border-right: 2px solid #dee2e6;
}

.users-table-body tr {
    font-size: 1rem;
}

.users-table-body td:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.users-table-body td:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.body-first-column {
    position: relative;
    left: 0.7em;
    border-left: 0px solid;

}

.body-last-column {
    position: relative;
    right: 0.7em;
    border-right: 0px solid;
}

#departments {
    border-left: 2px solid #dee2e6;
    padding: 0;
    height: 100vh;
    margin-top: 81px;
}

#departments .table-header {
    text-align: center;
    background-color: #e8e8e8;
    padding: 5px;
    padding-bottom: 4px;
    margin-top: 6px;
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: bold;
    color: #686868;
}

.department-wrapper {
    margin: 0px 10px;
}

#departments .dep-item {
    border: 1px solid #dee2e6;
}

#departments .dep-item:hover {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px 2px #e8e8e8;
}

.list-element:hover {
    background-color: #FFFFFF;
    border: 1px solid #dee2e6;
    box-shadow: 4px 4px 12px 4px #e8e8e8;
}

.icon-wrapper {
    padding: 0.75rem;
}

.icon-wrapper p {
    margin-top: -0.6rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    font-size: 11px;
}

.p-r-0 {
    padding-right: 0px;
!important;
}

.nav-list .li:hover {
    background: white;
}

.nav-list ul {
    list-style-type: none;
}

.users-table-head th {
    background-color: #e8e8e8;
    font-size: 11px;
    font-weight: bold;
    color: #686868;
}


#user-table-container .table-hover tbody tr:hover {
    background-color: #ececec;
    /*box-shadow: 75px 8px 16px 2px #888888*/
}

#enter-btn {
    width: 10em;
}

#exit-btn {
    width: 10em;
}

#enter-btn:hover {
    background-color: #FFFFFF;
    border-color: #28a745;
    color: #28a745;
    box-shadow: 2px 2px 12px 2px #e8e8e8;
}

#enter-btn:focus {
    box-shadow: none;
}

#exit-btn:focus {
    box-shadow: none;
}

#exit-btn:hover {
    background-color: #FFFFFF;
    color: #dc3545;
    border-color: #dc3545;
    box-shadow: 2px 2px 12px 2px #e8e8e8;
}

.act {
    border: 1px solid #007bff;
!important;
    background-color: #007bff;
!important;
    color: #FFFFFF;
!important;
}

#enter-btn.act:hover {
    border: 1px solid #007bff;
!important;
    background-color: #007bff;
!important;
    color: #FFFFFF;
!important;
}

#exit-btn.act:hover {
    border: 1px solid #007bff;
!important;
    background-color: #007bff;
!important;
    color: #FFFFFF;
!important;
}

.events-list {
    position: relative;
    width: 91%;
    margin-right: 40px;
    float: right;
    left: 20px;
}

.list-element {
    line-height: 40px;
    border-bottom: 1px #4b4d52 dashed;
}

.date-container {
    position: relative;
    text-align: center;
    width: 100px;
    display: inline;
    float: left;

}

.month-day {
    width: inherit;
    font-size: 32px;
    font-weight: bold;
    display: block;
    position: relative;
}

.week-day {
    width: inherit;
    top: -10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #686868;
    font-size: 10px;
    position: relative;
}

.event-time {
    position: relative;
    min-width: 270px;
    display: inline-block;
}

.list-element > span {
    padding: 10px;
    font-size: 14px;
}

.user-name, .event-time {
    font-weight: bold;
}

.zui-table {
    border-spacing: 0;
}

.zui-table thead th {
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

.zui-wrapper {
    margin-left: 10px;
    width: 90%;
}

.zui-scroller {
    margin-left: 200px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 100%;
}

.zui-table .zui-sticky-col {
    left: 0;
    border-top: 2px solid #dee2e6;
    line-height: 15px;
    position: absolute;
    top: auto;
    width: 225px;
}

.duty-first-column {
    position: relative;
    left: 0.7em;
    border-left: 0px solid;

}

.rooster-table-head th {
    background-color: #e8e8e8;
    font-size: 11px;
    font-weight: bold;
    color: #686868;
}

.rooster-user-wrapper {
    padding: 5px;
    text-align: left;
}

.rooster-user-wrapper p {
    margin: 0px;
}

.rooster-user-wrapper .rooster-user {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;

}

.rooster-table-body td {
    height: 57px;
    min-height: 57px !important;
    max-height: 57px !important;
}

.rooster-table-body tr {
    height: 57px;
    min-height: 57px !important;
    max-height: 57px !important;
}

.rooster-user-wrapper .rooster-department {
    font-size: 12px;
    line-height: 14px;

}

.rooster-user-wrapper .rooster-schedule {
    font-size: 10px;
    line-height: 12px;
}

.btn-work-day {
    border: 1px solid #ced4da;
}

.button-group-bord-dark {
    color: #fff;
    border: 1px solid #ced4da;
    background-color: #007bff;
}

.button-group-bord-light {
    color: #212529;
    background-color: #f8f9fa;
}

.btn-work {
    border: 1px solid #ced4da;
}

.chk-size {
    width: 20px;
    height: 20px;
}

.check-label-p {
    padding-left: 10px;
    padding-top: 2px;
}

.rooster-cell {
    padding-top: 8px;
    height: 48px;
}

.rooster-wrapper {
    height: 48px;
    text-align: center;
}

.rooster-time {
    display: block;
    font-size: 10px;
    position: relative;
}

.rooster-overtime {
    position: relative;
    bottom: 2px;
    display: block;
    font-size: 10px;
}

.background-whitesmoke {
    background-color: whitesmoke;
}

#publish {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bold;
}

#restore {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.delete {
    font-size: 16px;
    color: #4b4d52;
    border: 2px solid #4b4d52;
    border-radius: 20px;
    padding: 4px;
}
.delete:hover{
    border-color: red;
    color:red
}

.create {
    font-size: 16px;
    color: #4b4d52;
    border: 2px solid #4b4d52;
    border-radius: 20px;
    padding: 4px;
}
.create:hover{
    border-color: #007bff;
    color:#007bff;
}



