{% extends 'base.html.twig' %}
{% block title %}Przegląd{% endblock %}
{% block department %} {% endblock %}
{% block body_columns %}col-12{% endblock %}
{% block navbar_links %}
    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="nav-link" >Przegląd</span>
            </li>
        </ul>
    </div>
{% endblock navbar_links %}

