{% extends 'base.html.twig' %}
{% block title %}Przegląd{% endblock %}
{% block department %} {% endblock %}
{% block body_columns %}col-12{% endblock %}
{% block navbar_links %}
            <li class="nav-item">
                <span class="nav-link no-link" >Przegląd</span>
            </li>
{% endblock navbar_links %}


