{% extends 'base.html.twig' %}
{% block navbar_links %}
    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled"  href="#">Workers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-toggle="tooltip" title="Add worker" data-placement="right" href="{{ path('admin_users_new') }}"><i class="material-icons" style="font-size:24px;color:#b8babe">add</i></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
{% endblock %}